/*-------------------------------------
            BASE STYLES
--------------------------------------*/
html{
    font-size: 16px;
}

body{
    font-family: 'source sans pro', sans-serif;
    font-size: 1em;
    color: #2b2b2b;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/**** GRID ****/

.full-width {
    width: 100%;   
}

.half-width {
    width: 100%;
}

.third-width {
    width: 100%;    
}

/**** Hover Styling ****/
a:hover {
    color: #648b75;
}

nav ul li a:hover{
    color: #c68736;
}


#contact a:hover{
    color: #c68736;
}


/**** FLEX ZONES ****/
header, 
#about, 
#work,
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

/*-------------------------------------
             MOBILE STYLES
--------------------------------------*/
/****  HEADER  ****/
.hero-img{
    background-image: linear-gradient(rgba(155, 153, 153, 0.5), 
    rgba(0, 0, 0, 0.5)),
        url(../img/woman-smile.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    width: 100%;
}

/*  NAME */
h2 a{ 
    font-family: 'lora', serif;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
    margin: 0 30px 10px 31px;
    text-decoration: none;
    color: #c68736;
    text-shadow: .5px 1px #2b2b2b;
}

/***** NAV *****/
nav {
    display: flex;
    justify-content: left;
    padding: 0 30px;
    margin-left: 100px;
}

nav ul{
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
}

nav li{
    margin-top: 5px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    color: #ebebeb;
    text-shadow: .5px 1px #2b2b2b;
   
}

/* Hello, I am... */
h1 {
    font-size: 1.7em;
    width: 65%;
    clear: both;
    font-family: 'lora', serif;   
    color: #ebebeb;
    padding: 0px 30px;
    margin-bottom: 40px;
}

h1 span {
    color: #c68736;
    text-shadow: .5px .5px #2b2b2b;
}


/***** ABOUT *****/

#about .full-width {
    padding: 60px 0;
}

/***  ABOUT H2 and P  ***/

#about h2 {
    font-family: 'lora', serif;
    font-size: 1.4em;
    text-align: center;
    color: #2b2b2b
}
 
#about p {
    font-size: 1.12em;
    color: #7f7f7f;
    line-height: 40px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.half-width span{
    font-weight: bold;
    color: #648b75;
}
/*****  WORK  *****/

#work  {
    background-color: #b8d1bd;
    text-align: center;
} 

#work .full-width {
    padding: 0;
}

#work h3{
    font-size: 1.12em; 
}
     
#work img {
    margin: 50px 0;
}

#work p {
    font-family: 'lora', serif;
    font-size: 1.12em;
    line-height: 30px;
    padding: 0 50px 60px 50px;
}


#work .divider{
    height: 3px;
    background-color: #ebebeb;
    width: 100%;
}

/*****  FOOTER/ CONTACT  *****/

#contact{
    width: 100%;
    text-align: center;
    flex-flow: row wrap; 
}

#contact .full-width {
    padding: 50px 0 20px 0;
}

#contact-img {
    border: 7px solid #c68736;
    max-width: 300px;
}

#contact #envelope {
  padding-right: 10px;
}

/*****  LOOKING FOR ME?  *****/

#contact h3 {
    font-family: "lora", serif;
    font-size: 1.2em;
    line-height: 44px;
    margin-bottom: 0;
}

/*****  LET'S ZOOM  *****/

#contact p {
    font-weight: lighter;
    font-size: 1.2em; 
    margin: -15px 0 10px 0;
}

h3 #email-header{
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

/*  Mail a href */
#contact h4 a{
    font-size: 1.2em;
    margin: 10px 0;
}


/****  OR FIND ME  *****/
#contact h3{
    margin: 10px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.2em; 
    margin-top: 40px;
}

#contact ul{
    padding: 0;
}

#contact li{
    padding: 0 10px;
}
/***** ADDRESS  ****/
#contact a {
    text-decoration: none;
    color:  #648b75;
    font-weight: 900;
    font-size: 1.2em;
  
}

/***** SOCIAL MEDIA ICONS  *****/

#contact ul {
    list-style: none;
   
}

#contact ul li {
     display: inline-block;
}

/*** Copy ***/
h5{
    width: 100%;
    font-size: .5em;
    font-weight: 400;
    margin: 30px 0 0 0;
}

/*-------------------------------------
                MEDIA QUERIES
--------------------------------------*/
@media (min-width: 768px){

    /*** Header ***/
    header .half-width{
        width: 50%;
    }

    header nav{
        margin: 0;

    }

    header nav ul{
        display: flex;
        justify-content: end;
        flex: row;
    }

    nav{
        display: flex;
        justify-content: left;
        padding: 0 30px;
        margin-left: 100px;
    }

    nav li{
        padding-right: 30px;
    }

    h1{
        width: 70%;
        font-size: 3em;
    }

    /*** About ***/
    #about .full-width{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;    
    }
    #about h2{
        width: 100%;
    }
    #about .half-width{
        width: 47%;
    }

    .third-width{
        margin-top: 40px;
    }
    
    /*** Work ***/
    #work .full-width{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #work h2{
        width: 100%;
    }
    #work .divider{
        display: none;
    }
    #work img {
        margin: 20px 0;

    }

    /*** Footer/ Contact ***/
    #contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap; 
    }

    #contact-img {
        border: 7px solid #c68736;
        
       
    }

    #contact .full-width{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row-wrap;
    }

    footer .half-width{
        width: 50%;
        margin: 0;
    }
    
    /*** Copy ***/
    h5{
        width: 100%;
        font-size: .1em;
        font-weight: 400;
        margin: 30px 0 0 0;
    }


}
    
@media (min-width: 1200px){

}

/*-------------------------------------
            PORTFOLIO PAGE              
--------------------------------------*/
/* MUST TREAT HEADER SEPARATELY IN DESKTOP STYLE  There is no div with quote */
main{
    width: 100%;
    height: 100%;
    background: url('../img/love-locks.jpg') left;
    padding: 40px 0 900px;
}

.portfolio h2{
    text-align: center;
}

.text{
    text-align: center;
    margin-top: 40px;;
}

