/***** BASE STYLES *****/
html{
    font-size: 16px;
}

body{
    font-family: 'source sans pro', sans-serif;
    font-size: 1em;
    color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.flex-container{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
 
/***** GRID *****/

.full-width {
    width: 100%;
    overflow: auto;
}
.half-width {
    width: 100%;
    overflow: auto;

}
.third-width {
    width: 100%;
    overflow: auto;
     
}

/***** STYLES *****/
/* Name */
header h2{
    font-size: 2em;
}

/* Hello */
h1{
    font-size: 2.5em;
    text-align: center;
}
/* Work and Contact sections */
h3{
    font-size: 1.5em; 
}
h3 #email-header{
    font-size: 1.2em;
}

h4{
    font-size: 1em;
}

/***** HOVER STYLES *****/
a:hover {
    color: #c68736;
}
/*************************/
/*****  MOBILE FIRST *****/
/*****  HEADER  *****/

header .desk-img{
    
    background-image: url('../img/new-hero.png');
    background-size: cover;
    background-position: center;
}

/*  NAME */
header h2 { 
    font-family: 'lora', serif;
    font-weight: bold;
    text-align: center;
}

header h2 a{
    text-decoration: none;
    color: #648b75;
}

/*****  HEADER NAV  *****/

nav {
    margin: 0;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.5em;
    color: #648b75;
   
}

/***** HEADER Hello H2  *****/

header h1 {
    width: 100%;
    clear: both;
    font-family: 'lora', serif;   
    color: #78776d;
    
}

header h1 span {
    color: #c68736;
}

header h2 .divider{
    height: 5 px;
    background-color: #648b75;
    width: 100%;
}

/***** ABOUT *****/

#about .full-width {
    padding: 80px 0;
}

/***  ABOUT H2 and P  ***/

#about h2 {
    font-family: 'lora', serif;
    font-size: 2.25em;
    text-align: center;
}
 
#about p {
    font-size: 1.31em;
    color: #7f7f7f;
    line-height: 40px;
    padding: 0 50px;
}
/*****  WORK  *****/

#work  {
    background-color: #b8d1bd;
    text-align: center;
} 

#work .full-width {
    padding: 0;
}
     
#work img {
    margin: 50px 0;
}



#work p {
    font-family: 'lora', serif;
    font-size: 1.12em;
    line-height: 30px;
    padding: 0 50px 80px 50px;
}

#work .divider{
    height: 20px;
    background-color: #ebebeb;
    width: 100%;
  
}
/*****  FOOTER/ CONTACT  *****/

#contact{
    width: 100%;
    text-align: center;
}

#contact .full-width {
    padding: 60px 0;
}

footer img#contact-img {
    border: 10px solid #648b75;
}

#contact #envelope {
  padding-right: 10px;
}

/*****  LOOKING FOR ME?  *****/

#contact h3 {
    font-family: "lora", serif;
    font-size: 1.2em;
    line-height: 44px;
}

#contact-img{
    width: 50%;
}

/*****  LET'S ZOOM  *****/

#contact #email-header {
    font-weight: lighter;
    font-size: 1.2em;
 
}

#contact a:hover{
    color: #c68736;
}


/****  OR FIND ME  *****/

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.2em; 
}

#contact ul{
    padding: 0;
}

#contact li{
    padding: 0 10px;
}
/***** ADDRESS  ****/
#contact a {
    text-decoration: none;
    color:  #648b75;
    font-weight: 900;
    font-size: 1.2em;
  
}

/***** SOCIAL MEDIA ICONS  *****/

#contact ul {
    list-style: none;
   
}

#contact ul li {
     display: inline-block;
}


/*-------------------------------------
            PORTFOLIO PAGE              
--------------------------------------*/

.back-ground{
    height: 1500px;
    background: url('../img/love-locks.jpg') no-repeat;
}

.full-page{
    border: solid 5px;
    text-align: center;
}

/***** BACKGROUND PHOTO BY BONGKARN THANYAKIJ FROM PEXELS  *****/
