/*-------------------------------------
            BASE STYLES
--------------------------------------*/
html{
    font-size: 16px;
}

body{
    font-family: 'source sans pro', sans-serif;
    font-size: 1em;
    color: #2b2b2b;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/**** GRID ****/

.full-width {
    width: 100%;   
}

.half-width {
    width: 100%;
}

.third-width {
    width: 100%;    
}

/**** Hover Styling ****/
a:hover {
    color: #648b75;
}

nav ul li a:hover{
    color: #ce7e16;
}


#contact a:hover{
    color: #ce7e16;
}


/**** FLEX ZONES ****/
header, 
#about, 
#work,
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

/*-------------------------------------
             MOBILE STYLES
--------------------------------------*/
/****  HEADER  ****/
.hero-img{
    background-image: linear-gradient(to right, rgba(7, 7, 7, 0.7), 
    rgba(12, 12, 12, 0.18)),
        url(../img/woman-smile.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    width: 100%;
}

/*  NAME */
h2 a{ 
    font-family: 'lora', serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 30px 10px 20px;
    text-decoration: none;
    color: #ce7e16;
    /*text-shadow: .8px .3px #e1e1e1;*/
}

/***** NAV *****/
nav {
    display: flex;
    justify-content: left;
    padding: 0 30px 0px 60px;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav li{
    margin-top: 5px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2em;
    color: #ebebeb;
    text-shadow: 1px .5px #2b2b2b;
   
}

/* Hello, I am... */
h1 {
    font-size: 1.8em;
    width: 64%;
    clear: both;
    font-family: 'lora', serif;   
    color: #ebebeb;
    padding: 0;
    margin:  0px 0 30px 20px;
}

h1 span {
    color: #ce7e16;
    /*text-shadow: .8px .3px #e1e1e1;*/
}


/***** ABOUT *****/

#about .full-width {
    padding: 60px 0;
    margin: 0 30px;
}

/***  ABOUT H2 and P  ***/

#about h2 {
    font-family: 'lora', serif;
    font-size: 1.4em;
    margin: 0;
    padding: 0 20px;
    color: #2b2b2b
}
 
#about p {
    font-size: 1.2em;
    color: #7f7f7f;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 50px;
}

/*
#about .brilliant{
    font-weight: bold;
    color: #2b2b2b;
    width: 100%;
    margin: -15px 30px 10px;
}
*/
/*****  WORK  *****/

#work  {
    background-color: #afcab2;
    text-align: center;
} 

#work .full-width {
    padding: 0;
}

#work h3{
    font-size: 1.12em; 
}
     
#work img {
    margin: 50px 0;
}

#work p {
    font-family: 'lora', serif;
    font-size: 1.2em;
    line-height: 30px;
    padding: 0 50px 60px 50px;
}


#work .divider{
    height: 3px;
    background-color: #ebebeb;
    width: 100%;
}

/*****  FOOTER/ CONTACT  *****/

#contact{
    width: 100%;
    text-align: center;
    flex-flow: row wrap; 
}

#contact .full-width {
    padding: 50px 0 20px 0;
}

#contact-img {
    border: 7px solid #ce7e16;
    max-width: 300px;
}

#contact #envelope {
  padding-right: 10px;
  width: 20px;
  text-align: center;
}

/*****  LOOKING FOR ME?  *****/

#contact h3 {
    font-family: "lora", serif;
    font-size: 1.2em;
    line-height: 44px;
    margin-bottom: 0;
}

/*****  LET'S ZOOM  *****/

#contact p {
    font-weight: lighter;
    font-size: 1.2em; 
    margin: -15px 0 10px 0;
}

h3 #email-header{
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

/*  Mail a href */
#contact h4 a{
    font-size: 1.2em;
    margin: 10px 0;
}


/****  OR FIND ME  *****/
#contact h3{
    margin: 10px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.2em; 
    margin-top: 40px;
}

#contact ul{
    padding: 0;
}

#contact li{
    padding: 0 10px;
}
/***** ADDRESS  ****/
#contact a {
    text-decoration: none;
    color:  #648b75;
    font-weight: 900;
    font-size: 1.2em; 
}

/***** SOCIAL MEDIA ICONS  *****/

#contact ul {
    list-style: none;  
}

#contact ul li {
     display: inline-block;
}

/*** Copy ***/
h5{
    width: 100%;
    font-size: .5em;
    font-weight: 400;
    margin: 30px 0 0 0;
}

/*-------------------------------------
            PORTFOLIO PAGE              
--------------------------------------*/
/* MUST TREAT HEADER SEPARATELY IN DESKTOP STYLE  There is no div with quote */ 
#portfolio{
    background: url('../img/love-locks.jpg') left;
    border-top: solid #2b2b2b 10px;
    border-bottom: solid #2b2b2b 10px;
    height: 1100px;
    width: 100%;
}

#portfolio h6{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.text{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}


/*-------------------------------------
                MEDIA QUERIES
--------------------------------------*/
@media (min-width: 768px){

    /*** Header ***/
    h2 a{
        font-size: 1.9em;
        margin-top: -20px;
    }


    header nav ul{
        display: flex;
        justify-content: end;
        flex: row;
        margin-top: 30px;
        font-size: 1.3em;
    }

    nav{
        display: flex;
        justify-content: left;
        padding: 0 40px;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    nav li{
        padding-left: 30px;
    }

    h1{
        width: 70%;
        font-size: 3em;
        margin: 0px 0 30px 65px;
        width: 62%;
    }

    /*** About ***/
    #about .full-width{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row wrap;    
    }
    #about h2{
        width: 100%;
        font-size: 1.6em;
        margin: 20px 0;
        padding: 0 20px;
    }

    #about p {
        font-size: 1.5em;
        line-height: 40px;
        padding: 0 10px;
        margin: 30px 0 40px 0;
    }

    #about .half-width{
        width: 47%;
    }

    .third-width{
        margin-top: 40px;
    }
    
    /*** Work ***/
    #work .full-width{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #work h2{
        width: 100%;
    }
    #work .divider{
        display: none;
    }
    #work img {
        margin: 20px 0;
    }

    #work p{
        font-size: 1.2em;
    }

    /*** Footer/ Contact ***/
    #contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap; 
    }

    #contact .full-width{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row-wrap;
    }

    #contact .half-width{
        width: 47%;
        margin: 0;
    }

    #contact-img {
        border: 7px solid #c68736; 
        width: 600px; 
    }

    #contact h3,
    #contact p{
        font-size: 1.5em;
    }

    #contact p{
        margin: 0px 0 10px 0;
    }

    #contact h4 a{
        font-size: 1.7em;
    }

    #contact #envelope{
        width: 25px;
        text-align: center;
    }

    #contact #socialmedia-header {
        font-size: 1.5em; 
        margin-top: 50px;
    }

    #contact a{
        font-size: 1.8em;
    }

    
    /*** Copy ***/
    h5{
        width: 100%;
        font-size: 1em;
        font-weight: 400;
        margin: 30px 0 0 0;
    }

/*-------------------------------------
            PORTFOLIO PAGE              
--------------------------------------*/
/* MUST TREAT HEADER SEPARATELY IN DESKTOP STYLE  There is no div with quote */ 
    #portfolio h6{
        text-align: center;
        font-size: 2.5em;
    }

    .text{
        text-align: center;
        margin-top: 20px;;
        font-size: 2em;;
    }
    

}
    
@media (min-width: 1200px){

}


